<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" href="/stylesheets/global.css">
  
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  
  
  <style>
      html, body {
        background: url(/background.jpg) no-repeat;
        background-size: cover;
        height: 100%;
      }
  </style>

  <title>Food Pantry</title>
</head>
 
<body>
  <header>
   <nav class="navbar navbar-expand-md navbar-light bg-light">
    <span class="navbar-brand h1 pl-3"><i class="fas fa-hand-holding-heart"></i> Spartan Pantry</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav bg-light">
        <li class="nav-item rounded-top">
          <a class="nav-link" href="/stock">In Stock</a>
        </li>
        <li class="nav-item rounded-top">
         <a class="nav-link" href="/add">Add Item</a>
        </li>
        <li class="nav-item rounded-top">
          <a class="nav-link" href="/about">About Us</a>
        </li>
        <li class="nav-item rounded-top ml-auto">
          <a class="nav-link" href="/register">Login</a>
        </li>
      </ul>
    </div>
  </nav>
  </header>
 <% if(typeof msg !== 'undefined'){ %>
  <p> <%= msg %> </p>
  <%}%> 