<% include ./partials/header %>
<% include ./ejs-functions/capFirst %>
<link href="/stylesheets/form.css" rel="stylesheet">

<!doctype html>

<html>
<body>
<a href="">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://www.pngkey.com/png/full/12-124653_steak-png-clip-art-steak-clip-art.png">
        <div class="card-body">
            <h5 class="card-title" align="center">Meats</h5>
        </div>
    </div>
</a>
</body>
</html>