<% include ./partials/header %>
<link href="/stylesheets/form.css" rel="stylesheet">

<div class="col-lg-12 register-wrap" id="main">
	<form class="form-register" method="post" action="#" onsubmit="return validateForm()" novalidate>
		<div class="text-center mb-4">
			<h1 class="display-5 mb-3 font-weight-normal text-white">Register your pantry!</h1>
		</div>
		<div class="form-label-group">
			<input type="text" id="name" name="name" class="form-control" placeholder="name" required autofocus>
			<label for="name">Name of Pantry</label>
			<div class="invalid-feedback" min=1>
				Invalid name
			</div>
		</div>
		<div class="form-label-group">
			<input type="tel" id="phone" name="phone" class="form-control" placeholder="phone" autofocus>
			<label for="phone">Phone number</label>
			<div class="invalid-feedback" min=5>
				Invalid phone number
			</div>
		</div>
		<div class="form-label-group">
			<input type="email" id="email" name="email" class="form-control" placeholder="email"  autofocus>
			<label for="email">Email</label>
			<div class="invalid-feedback" min=5>
				Invalid email
			</div>
		</div>
		<div class="form-label-group">
			<input type="text" id="address" name="address" class="form-control" placeholder="address" autofocus>
			<label for="address">Address</label>
			<div class="invalid-feedback" min=5>
				Invalid address
			</div>
		</div>
		<div class="form-label-group">
			<input type="text" id="username" name="username" class="form-control" placeholder="username" min="5" max="20" required>
			<div class="invalid-feedback">
				Invalid username
			</div>
			<label for="username">Username</label>
		</div>
		<div class="form-label-group">
			<input type="password" id="password" name="password" class="form-control" placeholder="password" required>
			<div class="invalid-feedback">
				Cannot be empty
			</div>
			<label for="password">Password</label>
		</div>
		<div class="form-label-group">
			<input type="password" id="password2" name="password2" class="form-control" placeholder="password2" onblur="checkPasscode();" required>
			<div class="invalid-feedback">
				Password does not match
			</div>
			<label for="password2">Confirm Password</label>
		</div>
		<button class="btn btn-lg btn-primary btn-block submit-button" type="submit">Register</button>
		
	</form>
</div>
<script>
function checkPasscode() {
	if (document.getElementById('password').value != document.getElementById('password2').value) {
		document.getElementById('password2').setCustomValidity('Passwords must match.');
	} else {
		document.getElementById('password2').setCustomValidity('');
	}

}

// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
	'use strict';
	window.addEventListener('load', function() {
		// Fetch all the forms we want to apply custom Bootstrap validation styles to
		var forms = document.getElementsByClassName('form-register');
		// Loop over them and prevent submission
		var validation = Array.prototype.filter.call(forms, function(form) {
			form.addEventListener('submit', function(event) {
				if (form.checkValidity() === false) {
					event.preventDefault();
					event.stopPropagation();
				}
				form.classList.add('was-validated');
			}, false);
		});
	}, false);
})();
</script>



<% include ./partials/footer %>
