<% include ../partials/header %>
<% include ../ejs-functions/capFirst %>

<div class="container" style="padding: 2rem">
	<h1> <%=capFirst(name)%> </h1>
	<br>
	<ul class="list-group">
		<%barArr.forEach(function(item){%>
		  <a href=<%="/"+ item.code%>><li class="list-group-item"><%=item.name%></li>
		<%})%>
	</ul>
</div>
<% include ../partials/footer %>
