<% include ../partials/header %>
<div class="container">
	<h1> <%=name%> </h1>

	<ul class="list-group">
		<%barArr.forEach(function(item){%>
		  <a href=<%="/"+ item.code%>><li class="list-group-item"><%=item.name%></li>
		<%})%>
	</ul>
</div>
<% include ../partials/footer %>
