html {
	position: relative;
	min-height: 100%;
	background-color: var(--bg-color);
}

body {

	margin-bottom: 60px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/*background-color: var(--dark-grey);*/
}

.container .text-muted {
	margin: 20px 0;
}



.card-img{
	object-fit: cover;
	height: 9rem;
	filter: brightness(0.5);
}

.card:hover{
	filter: brightness(1.5);
}

.card-title{
	top:28%;
	position: relative;
	color: whitesmoke;
	text-shadow: 2px 2px black;
}


/* Entry show page delete button */

.delete-form {
	display: inline-block;
}



/* Flexbox grid fix */

.flex-wrap {
	display: flex;
	flex-wrap: wrap;
	align-items: center
}