html {
	position: relative;
	min-height: 100%;
	background-color: var(--bg-color);
}

body {

	margin-bottom: 60px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/*background-color: var(--dark-grey);*/
}

.container .text-muted {
	margin: 20px 0;
}



/* Thumbnail styles */
.card-img{
	object-fit: cover; 
	height: 5rem; 
	filter: brightness(0.8);
}



/* Entry show page delete button */

.delete-form {
	display: inline-block;
}



/* Flexbox grid fix */

.flex-wrap {
	display: flex;
	flex-wrap: wrap;
	align-items: center
}